#search-and-focus, header input {
  width: 100%;
}

#search-and-focus ul li {
  cursor: pointer;
  padding: 4px;
}
#search-and-focus ul li:hover {
  transition: opacity 15ms linear, background-color 15ms linear;
  background-color: ghostwhite;
  color: rebeccapurple;
}
#search-and-focus {
  overflow: hidden;
  height: 100%;
}
#search-and-focus ul {
  overflow: scroll;
  height: inherit;
}

#search-and-focus .options-panel {
  display: flex;
  align-items: center;
}
